html {
  font-family: sans-serif, Verdana;
  font-size: 12.5px;
  line-height: 1.15;
  font-weight: normal;

  background: black;
  color: white;

  padding: 0px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Segoe UI", Verdana, sans-serif;
  font-weight: 400;
  line-height: 1;
  margin-top: 6px;
  margin-left: 6px;
  margin-bottom: 16px;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {font-weight: inherit;}
h1 {font-size: 30px}
h2 {font-size: 27px}
h3 {font-size: 24px}
h4 {font-size: 21px}
h5 {font-size: 17px}
h6 {font-size: 15px}

code {
	font-family: MonoLisa, Consolas;
	color: #F09050;
	font-size: 12px;

	background: #402010;
}

a:visited, a:hover, a:active, a:link {
	font-family: sans-serif, Verdana;
	color: #90D050;
	font-size: 12px;
	text-decoration: none;
	background: none;
	transition: 0.2s;
}

a:hover {
	color: #F0F0F0;
}

a.article-link:active, a.article-link:link, a.article-link:visited, a.article-link:hover {
	font-family: sans-serif, Verdana;
	color: #F05050;
	font-size: 12px;
	text-decoration: none;
	background: none;
	transition: 0.2s;
}

a.article-link:hover {
	color: #F0F0F0;
}

.codeblock {
	overflow-x: auto;
	overflow-y: hidden;
	display: block;

	padding: 0px;
}

.codeblock pre {
	margin: 0px;
}

.name {
	color: #908070;
	background: #181212;
	border-radius: 8px;
	padding: 4px;
	padding-left: 32px;
}

.name h1 {
	font-weight: bold;
}

.main {
	max-width: 1300px;
	margin: auto;
	color: #D8D0D0;
	background: #121010;
	padding: 10px;
	padding-top: 10px;

	border-radius: 12px;

	margin-bottom: 2px;
}

.subgroup {
	margin: auto;
	color: #D8D0D0;
	background: #222020;
	padding: 10px;
	padding-top: 10px;
	margin-top: 12px;

	border-radius: 12px;
}

.main p {
	margin-left: 16px;
	margin-bottom: 12px;
}

.row {
	display: flex;
	box-sizing: border-box;
}

/* Create three equal columns that sits next to each other */
.third {
	flex: 33.33%;
	padding: 7px;
}

.half {
	flex: 50%;
	padding: 5px;
}

.group, button {
	margin: 0px;

	align-self: center;
	align-items: center;

	background: #050505;
	border-radius: 8px;
	border: 1px solid #222222;

	padding: 3px;
	color: #A0A0A0;
}

/* Clickable pictures */

.modal-content {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.2s;
  animation-name: zoom;
  animation-duration: 0.2s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

.picture {
	width: 100%;
	border-radius: 3px;
	cursor: zoom-in;
	transition: 0.3s;
}



/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
	cursor: zoom-out;
}

/* Modal Content (image) */
.modal-content {
	margin: auto;
	display: block;
	width: auto;
	height: 100%;
}

/* Caption of Modal Image */
.modal-caption {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
	text-align: center;
	color: #ccc;
	padding: 10px 0;
	height: 150px;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
	.modal-content {
		width: 100%;
	}
}

/* comparison slider */

.img-comp-container {
  position: relative;
  height: 540px; /*should be the same height as the images*/
  width: 890px;
}

.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
  object-fit: scale-down;
    height: 540px; /*should be the same height as the images*/
  width: 890px;
  object-fit: cover;
}

.img-comp-img img {
  display: block;
  vertical-align: middle;
}

.img-comp-slider {
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 30px;
  height: 30px;
  background-color: #F05050;
  opacity: 0.75;
  border-radius: 50%;
}

.hidden {
	display: none;
}